body {
  font-family: "Source Sans 3", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-layout {
  display: grid;
  background-color: grey;
  background-image: linear-gradient(-160deg, grey 80%, white 200%);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5rem;
  list-style-type: none;
  border-style: solid;
  border-radius: 2em;

  height: 60em;
  width: 40em;
  padding: 0 0.5em;
  margin: 0;
}

.calculator-display {
  margin: 0.3em;
  background-color: white;
  border-style: solid;
  font-size: 2em;
  text-align: right;
  grid-row-start: 1;
  grid-column: span 4;
  overflow-wrap: break-word;
}

.calculator-btn {
  cursor: pointer;
  border-style: none;
  background-image: linear-gradient(
    160deg,
    rgba(41, 185, 214, 0.6) 40%,
    #ffffff 200%
  );

  border-radius: 200em;
  font-size: 1.5em;
}

#clear {
  grid-column: span 2;
}
