body {
  font-family: "Source Sans 3", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.calculator-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-layout {
  display: grid;
  background-color: grey;
  background-image: linear-gradient(-160deg, grey 80%, white 200%);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5rem;
  list-style-type: none;
  border-style: solid;
  border-radius: 2em;

  height: 40em;
  width: 30em;
  padding: 1em 2em;
  margin: 0;
}

.calculator-display {
  margin: 0.3em;
  background-color: white;
  border-style: solid;
  font-size: 2em;
  text-align: right;

  grid-row-start: 1;
  grid-column: span 4;
  overflow-wrap: break-word;
}

.calculator-btn {
  cursor: pointer;
  border-style: none;
  background-image: linear-gradient(
    160deg,
    rgba(41, 185, 214, 0.6) 40%,
    #ffffff 200%
  );

  border-radius: 200em;
  font-size: 1.5em;
}

#clear {
  grid-column: span 2;
}

@media (max-width: 600px) {
  .calculator-layout {
    height: 30em;
    width: 20em;
  }
}

@media (max-height: 720px) {
  .calculator-layout {
    height: 20em;
    width: 10em;
  }

  .calculator-display {
    margin: 0.1em;
    font-size: 1em;
  }

  .calculator-btn {
    border-radius: 200em;
    font-size: 1em;
  }
}

@media (max-width: 420px) {
  .calculator-layout {
    height: 15em;
    width: 10em;
  }

  .calculator-display {
    margin: 0.1em;
    font-size: 1em;
  }

  .calculator-btn {
    border-radius: 200em;
    font-size: 0.5em;
  }
}
