body {
  font-family: "Source Sans 3", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5rem;
  list-style-type: none;
  height: 40em;
  width: 40em;
  padding: 0 0.5em;
  margin: 0;
}

.calculator-display {
  margin: 0;
  font-size: 5em;
  text-align: right;
  grid-row-start: 1;
  grid-column: span 4;
  overflow-wrap: break-word;
}

.calculator-btn {
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(160deg, #00d4ff 5%, #ffffff 110%);

  border-radius: 200em;
  font-size: 2em;
}

#clear {
  grid-column: span 2;
}
